In [1]:
import pandas as pd

In [4]:
taxonomy = pd.read_csv('../../shotgun_scripts/woltka_v2_taxonomy.txt', sep='\t', index_col=0)
taxonomy.head()

                                                        Taxon
Feature ID
G000005825  d__Bacteria; p__Firmicutes; c__Bacilli; o__Bac...
G000006175  d__Archaea; p__Methanobacteriota_A; c__Methano...
G000006605  d__Bacteria; p__Actinobacteriota; c__Actinomyc...
G000006725  d__Bacteria; p__Proteobacteria; c__Gammaproteo...
G000006745  d__Bacteria; p__Proteobacteria; c__Gammaproteo...

In [5]:
Ln_top5_list = pd.read_csv('../data/Microbiome/RPCA_all/5xFAD_RPCA_topbot5_names.tsv', sep='\t', index_col=0)
Ln_top5_list.head()

           Log_Ratio_Classification
Feature ID
G011958345              Denominator
G000403435              Denominator
G003979345              Denominator
G000403215              Denominator
G000438095              Denominator

In [6]:
merged = pd.merge(Ln_top5_list, taxonomy, left_index=True, right_index=True)
merged.head()

,Log_Ratio_Classification,Taxon
Feature ID,,
G011958345,Denominator,d__Bacteria; p__Firmicutes_A; c__Clostridia; o...
G000403435,Denominator,d__Bacteria; p__Firmicutes_A; c__Clostridia; o...
G003979345,Denominator,d__Bacteria; p__Firmicutes_A; c__Clostridia; o...
G000403215,Denominator,d__Bacteria; p__Firmicutes_A; c__Clostridia; o...
G000438095,Denominator,d__Bacteria; p__Firmicutes_A; c__Clostridia; o...

In [7]:
merged.to_csv('../data/Microbiome/RPCA_all/5xFAD_RPCA_topbot5_names.tsv', sep='\t')